#app {
    .container {
        .row {
            padding: 1.5rem 0;

            [class^="col"] {
                text-align: center;

                .healthbar {
                    width: 100%;
                    position: relative;
                    background: #ddd;
                    height: 30px;

                    .loaded {
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: purple;
                        opacity: 0.4;
                        width: 80%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: white;
                        font-weight: bold;
                        transition: width 0.2s linear;
                    }
                }


            }

            &.log {
                ul {
                    li {
                        list-style-type: none;
                        color: white;
                        padding: 10px 0;
                        opacity: 0.4;
                        margin: 5px 0;

                        &.player {
                            background: purple;
                        }

                        &.monster {
                            background: salmon;
                        }
                    }
                }
            }
        }
    }
}
